<div class="container">
  <div class="form-image">
    <img src="/img/undraw_services_re_hu5n.svg" alt="imagem-editar" />
    <link rel="stylesheet" href="/css/stylesCreateEmployees.css" />
    <link rel="stylesheet" href="/css/stylesEditBootStrap.css" />
  </div>
  <div class="form">
    <form action="/employees/edit" method="POST">

      <input type="hidden" name="id" value="{{employee.id}}" />

      <div class="form-header">
        <div class="title">
          <h1>Editar Funcionário</h1>
        </div>
      </div>

      <div class="input-group">
        <div class="input-box">
          <label for="name">Nome</label>
          <input
            id="name"
            type="text"
            name="name"
            value="{{employee.name}}"
            required
          />
        </div>

        <div class="input-box">
          <label for="role">Cargo</label>
          <input
            id="role"
            type="text"
            name="role"
            value="{{employee.role}}"
            required
          />
        </div>

        <div class="input-box">
          <label for="salary">Salário (R$):</label>
          <input
            type="number"
            id="salary"
            name="salary"
            step="0.01"
            min="0"
            value="{{employee.salary}}"
            lang="pt-BR"
          />
        </div>
      </div>

      <input type="submit" value="Editar" class="btn btn-info" />

    </form>
  </div>
</div>